<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,500,700&display=swap"
          rel=stylesheet>
    <link rel=icon href=/favicon.ico>
    <title>the-cat-api-app</title>
    <link href=/css/app.bb7c0d2c.css rel=preload as=style>
    <link href=/js/app.1a4acce9.js rel=preload as=script>
    <link href=/js/chunk-vendors.2daa8da1.js rel=preload as=script>
    <link href=/css/app.bb7c0d2c.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but the-cat-api-app doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.2daa8da1.js></script>
<script src=/js/app.1a4acce9.js></script>
</body>
</html>
