<template>
  <div class="cat-filters">
    <div class="cat-filters__container">
      <div class="cat-filters__wrap">
        <div class="cat-filters__left">
          <FilterCategories @input="refresh"/>
          <FilterMimeTypes @input="refresh"/>
          <FilterResults/>
        </div>
        <div class="cat-filters__right">
          <FilterAuth @open-login="showLoginForm = true"/>
          <FilterFavorites/>
        </div>
      </div>
    </div>
    <AuthPopup v-if="showLoginForm" @close="showLoginForm = false"/>
  </div>
</template>

<script>
import {mapActions, mapMutations} from 'vuex'
import {debounce} from 'debounce'
import FilterFavorites from './filters/FilterFavorites'
import FilterMimeTypes from './filters/FilterMimeTypes'
import FilterCategories from './filters/FilterCategories'
import FilterResults from './filters/FilterResults'
import FilterAuth from './filters/FilterAuth'
import AuthPopup from './auth/AuthPopup'

export default {
  name: 'AppFilters',
  components: {
    AuthPopup,
    FilterAuth,
    FilterResults,
    FilterCategories,
    FilterMimeTypes,
    FilterFavorites
  },
  data () {
    return {
      showLoginForm: false
    }
  },
  methods: {
    ...mapActions({
      getCats: 'cats/getCats',
      clearCats: 'cats/clearCats',
    }),
    ...mapMutations({
      SET_PAGE: 'cats/SET_PAGE',
      UPDATE_VIEW: 'UPDATE_VIEW'
    }),
    refresh: debounce(function () {
      this.UPDATE_VIEW('default')
      this.SET_PAGE(1)
      this.getCats()
    }, 300)
  }
}
</script>
