<template>
  <figure class="image">
    <div>
      <div>
        <img :src="url" alt="alt">
      </div>
    </div>
  </figure>
</template>

<script>
export default {
  name: 'AppImage',
  props: {
    url: {
      type: String,
      required: true
    },
    alt: {
      type: String
    }
  }
}
</script>
