<template>
  <div class="notification" :class="themeClasses">
    <div>
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppNotification',
  props: {
    error: {
      type: Boolean
    }
  },
  computed: {
    themeClasses () {
      return {
        'is-error': this.error
      }
    }
  }
}
</script>
