.cat-filter--likes {
  .button {
    text-align: center;
  }

  .button,
  .icon {
    position: relative;
  }

  .icon {
    color: $grey;
    margin: 0 !important;
    z-index: 1;
    transition: all .2s cubic-bezier(0.15, 0.15, 0, 1);
  }

  .count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: $white;
    width: 100%;
    height: 100%;
    transform: translateY(-50%, -50%);
    z-index: 2;
    font-size: .65em;
    font-weight: $weight-bold;
    text-shadow: 1px 1px 2px rgba($black, 0.1);
  }

  .button:hover {
    .icon {
      transform: scale(1.1)
    }
  }

  &.cat-filter--has-likes {
    .icon {
      color: $red;
    }
  }
}
