<template>
  <button
    class="button is-icon-only is-transparent"
    title="Like"
    @click="toggleLiked"
  >
    <span class="icon" :class="{'icon--liked': liked}">
      <HeartIcon v-if="liked"/>
      <HeartOutlineIcon v-else/>
    </span>
  </button>
</template>

<script>
import mojs from '@mojs/core'
import likeableMixin from '../../mixins/likeable-mixin'
import HeartIcon from '../icons/HeartIcon'
import HeartOutlineIcon from '../icons/HeartOutlineIcon'

export default {
  name: 'CatItemLikeButton',
  components: {
    HeartIcon,
    HeartOutlineIcon
  },
  mixins: [
    likeableMixin
  ],
  props: {
    cat: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      loaded: true,
      timeline: {
        instance: null,
        duration: 200
      },
      animations: []
    }
  },
  methods: {
    setupAnimations () {
      this.animations.push(new mojs.Burst({
        parent: this.$el,
        radius: {50: 95},
        count: 5,
        angle: 30,
        children: {
          shape: 'polygon',
          radius: {6: 0},
          scale: 1,
          stroke: 'rgba(244, 67, 54, 0.9)',
          strokeWidth: 2,
          angle: 210,
          delay: 30,
          speed: 0.2,
          easing: mojs.easing.bezier(0.1, 1, 0.3, 1),
          duration: this.timeline.duration
        }
      }))

      // Circle Burst 1
      this.animations.push(new mojs.Burst({
        parent: this.$el,
        radius: {50: 75},
        angle: 25,
        duration: this.timeline.duration,
        children: {
          shape: 'circle',
          fill: 'rgba(244, 67, 54, 0.5)',
          delay: 30,
          speed: 0.2,
          radius: {3: 0},
          easing: mojs.easing.bezier(0.1, 1, 0.3, 1)
        }
      }))

      // Circle Burst 2
      this.animations.push(new mojs.Burst({
        parent: this.$el,
        radius: {50: 75},
        angle: 37,
        duration: this.timeline.duration,
        children: {
          shape: 'circle',
          fill: 'rgba(244, 67, 54, 0.5)',
          delay: 30,
          speed: 0.2,
          radius: {3: 0},
          easing: mojs.easing.bezier(0.1, 1, 0.3, 1)
        }
      }))

      // Button Scale Animation
      this.animations.push(new mojs.Html({
        el: this.$el,
        duration: this.timeline.duration,
        scale: {1.5: 1},
        easing: mojs.easing.out
      }))

      this.$el.style.transform = 'scale(1, 1)'

      this.timeline.instance = new mojs.Timeline()
      this.timeline.instance.add(this.animations)
      this.loaded = true
    },
    animate () {
      this.timeline.instance.replay()
    }
  },
  mounted () {
    this.setupAnimations()
  },
  watch: {
    liked (value) {
      if(value) {
        this.animate()
      }
    }
  }
}
</script>
