<template>
  <div class="cat-item" @dblclick="like">
    <AppImage class="cat-item__image" :class="{'cat-item__image--landscape': isLandscape}" :url="cat.url"/>
    <div class="cat-item__footer">
      <CatItemLikeButton v-if="authenticated" :cat="cat"/>
      <button
        class="button is-icon-only is-expand is-transparent"
        title="Expand"
        @click.prevent="expand"
      >
        <span class="icon">
          <ExpandIcon/>
        </span>
        <span class="is-sr-only">Expand</span>
      </button>
      <template v-if="hasCategories">
        <div class="categories">
          <div v-for="category in categories" :key="category.id">
            {{category.name}}
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import AppImage from '../AppImage'
import CatItemLikeButton from './CatItemLikeButton'
import ExpandIcon from '../icons/ExpandIcon'
import likeableMixin from '../../mixins/likeable-mixin'

export default {
  name: 'CatItem',
  components: {
    AppImage,
    CatItemLikeButton,
    ExpandIcon,
  },
  mixins: [
    likeableMixin
  ],
  props: {
    cat: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      authenticated: 'auth/authenticated'
    }),
    isLandscape () {
      return this.cat.width > this.cat.height
    },
    categories () {
      return this.cat.categories.data
    },
    hasCategories () {
      return this.categories.length > 0
    }
  },
  methods: {
    expand () {
      this.$emit('expand', this.cat)
    }
  }
}
</script>
