<template>
  <div v-if="view !== 'default'" class="cat-list-header">
    <div class="cat-list-header__container">
      <div class="cat-list-header__wrap">
        <h2>Your Favorites</h2>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'CatListHeader',
  computed: {
    ...mapGetters({
      view: 'view'
    })
  }
}
</script>
