<template>
  <div class="cat-list">
    <template v-if="cats.length > 0">
      <div class="cat-list__container">
        <div class="cat-list__wrap">
          <div class="cat-list__item" v-for="cat in cats" :key="cat.id">
            <CatItem :cat="cat" @expand="showCatModal"/>
          </div>
        </div>
      </div>
      <AppModal v-if="showCat" @close="clearShowCat">
        <CatModalItem :cat="showCat"/>
      </AppModal>
    </template>
    <template v-else>
      <p class="cat-list__error-message">
        <span class="icon">😔</span>
        <span>Sorry, I couldn't find any kitties with those choices.</span>
      </p>
    </template>
    <template v-if="loading">
      <div class="cat-list__loading-container">
        <div class="cat-list__loading-wrap">
          <div class="loading">
            <img src="/images/loader-cat.gif" alt="Loading cat">
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import AppModal from '../modal/AppModal'
import CatItem from './CatItem'
import CatModalItem from './CatModalItem'

export default {
  name: 'CatList',
  components: {
    CatModalItem,
    AppModal,
    CatItem
  },
  data () {
    return {
      showCat: null
    }
  },
  computed: {
    ...mapGetters({
      loading: 'cats/loading',
      cats: 'cats/items'
    })
  },
  methods: {
    ...mapActions({
      getCats: 'cats/getCats'
    }),
    showCatModal (cat) {
      this.showCat = cat
    },
    clearShowCat () {
      this.showCat = null
    }
  }
}
</script>
