<template>
  <div class="cat-modal-item">
    <div class="cat-modal-item__image">
      <img :src="cat.url">
    </div>
    <div class="cat-modal-item__footer cat-item__footer">
      <CatItemLikeButton :cat="cat"/>
    </div>
  </div>
</template>

<script>
import likeableMixin from '../../mixins/likeable-mixin'
import CatItemLikeButton from './CatItemLikeButton'

export default {
  name: 'CatModalItem',
  components: {CatItemLikeButton},
  mixins: [
    likeableMixin
  ],
  props: {
    cat: {
      type: Object,
      required: true
    }
  },
}
</script>
