.button {
  @include control;
  @include unselectable;
  cursor: pointer;
  transition: all .25s ease-out;
  outline: none;
  border-radius: $radius;

  .icon {
    height: 1.5em;
    width: 1.5em;
  }

  &:not(.is-icon-only) .icon {
    &:first-child:not(:last-child) {
      margin-left: calc(-0.375em - 1px);
      margin-right: 0.1875em
    }

    &:last-child:not(:first-child) {
      margin-left: 0.1875em;
      margin-right: calc(-0.375em - 1px);
    }

    &:first-child:last-child {
      margin-left: calc(-0.375em - 1px);
      margin-right: calc(-0.375em - 1px);
    }
  }

  &.is-transparent,
  &.is-close {
    background: none;
  }

  &.is-link {
    padding: 0;
    height: auto;
    border: none;
    background: none;
    color: $link;

    &:hover {
      color: $link-hover;
    }

    &:active {
      color: $link-active;
    }
  }

  &.is-dark.is-link {
    color: $grey-dark;

    &:hover {
      color: $link-hover;
    }

    &:active {
      color: $link-active;
    }
  }

  &.is-small {
    font-size: .75rem;
  }

  &.is-close {
    font-size: .75rem;
  }

  &.is-full-width {
    width: 100%;
    justify-content: center;
  }

  &.is-primary {
    background: $red;
    color: $white;

    &:hover {
      background: scale_color($red, $lightness: -10%);
    }
  }

  &[disabled] {
    cursor: not-allowed;

    &.is-fake {
      cursor: default;
    }
  }
}
