input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: .125em solid $grey-lighter;
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
  margin: 0;
  outline: none;
}

input[type="checkbox"] {
  border-radius: $radius-small;

  &:active,
  &:focus {
    border-color: $primary
  }

  &:checked {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 60%;
      border-bottom: .125em solid $primary;
      border-right: .125em solid $primary;
      transform: rotate(45deg) translate(80%, -29%);
    }
  }
}

.radio,
.checkbox {
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  position: relative;

  &:hover {
    color: $black;
  }

  & + label {
    margin-left: .5em;
  }

  &-wrap {
    display: flex;
    align-items: center;
    line-height: 1.25;

    label {
      font-size: .875rem;
      cursor: pointer;
      flex-grow: 1;
    }
  }
}
