$icon-dimensions: 1.5em;

@include keyframes(spinAround) {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(359deg)
  }
}

.icon {
  font-size: 1em;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;

  &--red {
    color: $red;
  }

  &--spin {
    animation: spinAround 1.2s infinite linear
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
