<template>
  <div v-if="view !== 'favorites' && !loading" class="cat-filter cat-filter--results">
    <div>
      <span v-if="count > 0" class="count">{{formattedCount}}</span> <span class="text">{{message}}</span>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {formatNumber} from '../../util'
export default {
  name: 'FilterResults',
  computed: {
    ...mapGetters({
      view: 'view',
      cats: 'cats/items',
      pagination: 'cats/pagination',
      loading: 'cats/loading'
    }),
    count () {
      return this.pagination.total
    },
    formattedCount () {
      return (this.count > 0 || this.cats.length > 0)
        ? formatNumber(this.count)
        : null
    },
    message () {
      if (this.count === 0 || this.cats.length === 0) {
        return 'Nothing found'
      }

      const plural = this.count > 1 ? 'ies' : 'y'
      return `kitt${plural} found`
    }
  }
}
</script>
