<template>
  <div class="cat-filter cat-filter--types">
    <div class="cat-filter__select">
      <div class="cat-filter__label">Type</div>
      <AppDropdown :label="selectedTypeName">
        <template v-slot:default="{close}">
          <div class="option" v-for="option in options" :key="option.value">
            <button
              class="button is-full-width"
              :class="{'is-active': value === option.value}"
              @click.prevent="() => updateAndClose(option.value, close)"
            >
              {{option.label}}
            </button>
          </div>
          <div class="option">
            <button
              class="button is-full-width"
              :class="{'is-active': value === -1}"
              @click.prevent="() => updateAndClose(-1, close)"
            >
              Any
            </button>
          </div>
        </template>
      </AppDropdown>
    </div>
  </div>
</template>

<script>
import filterMixin from '../../mixins/filter-mixin'
import AppDropdown from '../form/AppDropdown'

const MIME_TYPES = ['jpg', 'gif', 'png']

export default {
  name: 'FilterMimeTypes',
  components: {
    AppDropdown
  },
  mixins: [
    filterMixin
  ],
  computed: {
    selectedTypeName () {
      return this.value === -1
        ? 'Any'
        : this.options.find(a => a.value === this.value).label
    }
  },
  data () {
    return {
      value: -1,
      filterKey: 'type',
      options: MIME_TYPES.map(value => ({value, label: value.toUpperCase()}))
    }
  },
  mounted () {
    this.value = -1
    this.updateSelected(this.value)
  }
}
</script>
