<template>
  <div v-if="!authenticated" class="cat-filter cat-filter--auth">
    <div>
      <button
        class="button is-transparent"
        @click.prevent="$emit('open-login')"
      >
        <span>Login to</span> <span class="icon icon--red">❤</span>
      </button>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: 'FilterAuth',
  computed: {
    ...mapGetters({
      authenticated: 'auth/authenticated'
    })
  }
}
</script>
