<template>
  <div class="cat-filter cat-filter--types">
    <div class="cat-filter__select">
      <div class="cat-filter__label">Category</div>
      <template v-if="!loaded">
        <div>...</div>
      </template>
      <AppDropdown v-else :label="selectedCategoryName">
        <template v-slot:default="{close}">
          <div class="option" v-for="option in options" :key="option.value">
            <button
              class="button is-full-width"
              :class="{'is-active': value === option.value}"
              @click.prevent="() => updateAndClose(option.value, close)"
            >
              {{option.label}}
            </button>
          </div>
          <div class="option">
            <button
              class="button is-full-width"
              :class="{'is-active': value === -1}"
              @click.prevent="() => updateAndClose(-1, close)"
            >
              Any
            </button>
          </div>
        </template>
      </AppDropdown>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import filterMixin from '../../mixins/filter-mixin'
import AppDropdown from '../form/AppDropdown'

export default {
  name: 'FilterCategories',
  components: {
    AppDropdown
  },
  mixins: [
    filterMixin
  ],
  data () {
    return {
      loaded: false,
      filterKey: 'category',
      options: []
    }
  },
  computed: {
    ...mapGetters({
      categories: 'categories/categories'
    }),
    selectedCategoryName () {
      return this.value === -1
        ? 'Any'
        : this.categories.find(c => c.id === this.value).name
    }
  },
  methods: {
    ...mapActions({
      getCategories: 'categories/getCategories'
    }),
    load () {
      this.value = -1
      this.getCategories().then(() => {
        this.options = this.categories.map(cat => ({
          value: cat.id,
          label: cat.name
        }))
        this.loaded = true
        this.updateSelected(this.value)
      })
    }
  },
  mounted () {
    this.load()
  }
}
</script>
