<template>
  <div
    v-if="authenticated"
    class="cat-filter cat-filter--likes"
    :class="{'cat-filter--has-likes': hasFavorites}"
  >
    <button class="button is-transparent" @click.prevent="showFavorites">
      <span class="icon">
        <HeartIcon v-if="hasFavorites"/>
        <HeartOutlineIcon v-else/>
      </span>
      <span class="count" v-if="hasFavorites">{{favoriteCount}}</span>
      <span class="is-sr-only">Your Favorites</span>
    </button>
    <button class="button is-transparent is-fake" disabled>{{user.first_name}}</button>
    <button class="button is-transparent" @click.prevent="logout">Logout</button>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex'
import HeartIcon from '../icons/HeartIcon'
import HeartOutlineIcon from '../icons/HeartOutlineIcon'

export default {
  name: 'FilterFavorites',
  components: {
    HeartOutlineIcon,
    HeartIcon
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
      authenticated: 'auth/authenticated',
      likedItems: 'auth/favorites'
    }),
    favoriteCount () {
      return this.user ? this.user.favorites.length : 0
    },
    hasFavorites () {
      return this.favoriteCount > 0
    }
  },
  methods: {
    ...mapMutations({
      UPDATE_VIEW: 'UPDATE_VIEW',
      SET_LOADING: 'cats/SET_LOADING',
      SET_ITEMS: 'cats/SET_ITEMS',
      SET_PAGINATION: 'cats/SET_PAGINATION'
    }),
    ...mapActions({
      logout: 'auth/logout',
      getFavorites: 'auth/getFavorites',
      clearCats: 'cats/clearCats'
    }),
    showFavorites () {
      this.UPDATE_VIEW('favorites')
      this.SET_LOADING(true)
      this.getFavorites().then(({data, pagination}) => {
        this.SET_LOADING(false)
        this.SET_ITEMS(data)
        this.SET_PAGINATION(pagination)
      })
    }
  }
}
</script>
