<template>
  <div v-if="totalPages > 1" class="pagination">
    <div class="pagination__container">
      <button
        class="button is-transparent is-prev"
        :disabled="currentPage === 1"
        @click.prevent="goToPage(currentPage - 1)"
        title="Back"
      >
        <span class="icon">
          <LeftChevronIcon/>
        </span>
        <span class="text" v-if="isMobile">Prev</span>
      </button>

      <template v-if="!isMobile">
        <template v-if="section > 1">
          <button
            class="button is-transparent"
            @click.prevent="goToPage(1)"
            title="Go to page 1"
          >1</button>
          <button
            class="button is-transparent"
            @click.prevent="goBackASection"
            title="Skip back"
          >&mdash;</button>
        </template>
        <button
          v-for="i in pages"
          :key="i"
          class="button is-transparent"
          :class="{'is-active': currentPage === i}"
          @click.prevent="goToPage(i)"
          :title="`Go to page ${i}`"
        >{{i}}</button>
        <template v-if="section < sections">
          <button
            class="button is-transparent"
            @click.prevent="goForwardASection"
            title="Skip forward"
          >&mdash;</button>
          <button
            class="button is-transparent"
            @click.prevent="goToPage(totalPages)"
            :title="`Go to page ${totalPages}`"
          >{{totalPages}}</button>
        </template>
      </template>

      <button
        class="button is-transparent is-next"
        :disabled="currentPage === totalPages"
        @click.prevent="goToPage(currentPage + 1)"
        title="Next"
      >
        <span class="text" v-if="isMobile">Next</span>
        <span class="icon">
          <RightChevronIcon/>
        </span>
      </button>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex'
import {range} from '../../util'
import responsiveMixin from '../../mixins/responsive-mixin'
import LeftChevronIcon from '../icons/LeftChevronIcon'
import RightChevronIcon from '../icons/RightChevronIcon'

export default {
  name: 'AppPagination',
  components: {
    RightChevronIcon,
    LeftChevronIcon
  },
  mixins: [
    responsiveMixin
  ],
  data () {
    return {
      numbersPerSection: 5
    }
  },
  computed: {
    ...mapGetters({
      pagination: 'cats/pagination'
    }),
    currentPage () {
      return this.pagination.page
    },
    totalPages () {
      return this.pagination.pages
    },
    section () {
      return Math.ceil(this.currentPage / this.numbersPerSection)
    },
    sections () {
      return Math.ceil(this.totalPages / this.numbersPerSection)
    },
    lastPage () {
      return this.section === this.sections
        ? this.totalPages
        : ((this.section - 1) * this.numbersPerSection) + this.numbersPerSection
    },
    pages () {
      return range(
        (this.section - 1) * this.numbersPerSection + 1,
        this.lastPage + 1
      )
    }
  },
  methods: {
    ...mapMutations({
      SET_PAGE: 'cats/SET_PAGE'
    }),
    ...mapActions({
      getCats: 'cats/getCats'
    }),
    goToPage (page) {
      if(page <= 0 || page > this.pagination.pages) {
        return
      }

      this.SET_PAGE(page)
      this.getCats()
    },
    goBackASection () {
      this.goToPage(
        this.firstPageOfSection(this.section - 1)
      )
    },
    goForwardASection () {
      this.goToPage(
        this.firstPageOfSection(this.section + 1)
      )
    },
    firstPageOfSection (section) {
      return (section - 1) * this.numbersPerSection + 1
    }
  }
}
</script>
