<template>
  <svg viewBox="0 0 200.79 201.21">
    <path
      fill="currentColor"
      d="M166.93,155.38a86,86,0,0,0,17.66-36l14.64,3.26A101.1,101.1,0,0,1,178.48,165ZM162.13,20.8a100.79,100.79,0,0,0-43-19.15L116.39,16.4A85.89,85.89,0,0,1,153,32.69ZM4.48,71.48l14.35,4.37A86.18,86.18,0,0,1,39.15,41.3L28.35,30.89A101.29,101.29,0,0,0,4.48,71.48ZM33.81,175.86a101.2,101.2,0,0,0,41.46,22.33l3.82-14.5a86.2,86.2,0,0,1-35.28-19ZM13,149.88,26,142.54A85.62,85.62,0,0,1,15.2,104l-15,.56A100.83,100.83,0,0,0,13,149.88Zm49-125.51a84.57,84.57,0,0,1,39-9.37V0A100.83,100.83,0,0,0,55.1,11ZM201,89.4a100.7,100.7,0,0,0-16.13-44.25l-12.5,8.29a85.64,85.64,0,0,1,13.72,37.64ZM108.46,201.21a100.73,100.73,0,0,0,44.83-14.45L145.47,174a85.67,85.67,0,0,1-38.12,12.28Z"
      transform="translate(-0.21)"/>
  </svg>
</template>

<script>
export default {
  name: 'SpinningWheelIcon'
}
</script>
