.cat-list-header {
  margin: 1rem 0;

  &__container {
    @extend .container;
  }

  &__wrap {
    padding: 0 2rem;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  h2 {
    font-size: $size-3;
    font-weight: $weight-bold;
    padding-left: $size-3 + ($size-3 * .5) + .5rem;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: .2em;
      top: 50%;
      transform: translateY(-50%);
      height: $size-3 * .1;
      width: $size-3;
      background: $red;
    }
  }
}
