.cat-list {
  min-height: 20rem;
  position: relative;

  &__container {
    @extend .container;

    @include tablet {
      padding: 0 1rem;
    }

    @include desktop {
      padding: 2rem;
    }
  }

  &__wrap {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  .loading {
    margin: 0 auto;
  }

  &__item {
    padding: 1rem;

    @include tablet {
      flex: 1 1 auto;
      width: 50%;
      max-width: 50%;
    }

    @include desktop {
      width: 33.333333%;
      max-width: 33.333333%;
    }
  }

  &__error-message {
    text-align: center;
    margin-top: 3rem;

    span {
      display: block;
      margin: 0 auto;
      font-size: 1.2rem;

      &.icon {
        margin-bottom: .5rem;
        font-size: 3rem;
      }
    }
  }

  &__loading-container,
  &__loading-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($white, 0.5);
  }

  &__loading-wrap {
    background: $white-ter;
    border-radius: $radius-rounded;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border: .5rem solid $white;
    box-shadow: 0 .35rem 2rem rgba($black, 0.1);

    img {
      transform: translateY(.8rem);
    }
  }
}
