.cat-item {
  position: relative;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  background: $white;
  border-radius: $radius;
  box-shadow: 0 .1rem 1rem rgba($black, 0.1);

  figure.image {
    border-top-left-radius: $radius-large;
    border-top-right-radius: $radius-large;
    overflow: hidden;

    > div {
      transition: transform .4s cubic-bezier(0.15, 0.15, 0, 1);
    }

    &.cat-item__image--landscape img {
      width: auto;
      max-width: inherit;
      height: 100%;
      max-height: 100%;
    }
  }

  &__footer {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 3;
    padding: .875rem;
    line-height: 1;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    box-shadow: 0 -0.0625em 0.3em 0 rgba($black, 0.05);

    .button {
      .icon:not(.icon--liked) {
        opacity: .5;
      }

      &:hover .icon {
        opacity: 1;
      }

      .icon--liked {
        color: $red;
      }

      &.is-expand {
        .icon {
          font-size: .8em;
        }
      }
    }

    .categories {
      margin-left: auto;

      > div {
        padding: .2em .5em;
        border-radius: $radius;
        text-transform: uppercase;
        font-weight: $weight-bold;
        font-size: .9em;
        color: $grey;
      }
    }
  }

  &:hover {
    figure.image > div {
      transform: scale(1.05) rotate(1deg);
    }
  }
}
