.modal--auth {
  .modal__header .button {
    color: $grey;
  }
}

.auth {
  background: $white;
  padding: 2rem;
  min-width: 25rem;

  header {
    text-align: center;
  }

  h2 {
    font-size: $size-4;
    text-align: center;
    display: inline-block;
    margin-bottom: 1em;
    color: $red;
  }

  input[type="text"],
  input[type="password"],
  .button {
    height: 3rem;
  }

  button[type="submit"] {
    font-weight: $weight-bold;
    margin-bottom: .2em;
  }

  .button.is-link {
    color: $red;

    &:hover {
      color: $black;
    }
  }
}
