.cat-filters {
  z-index: 3;
  position: relative;

  &__container {
    @extend .container;
    transform: translateY(-50%);
  }

  &__wrap {
    background: $white;
    display: flex;
    border-radius: $radius-rounded;
    padding: 0 1rem;
    box-shadow: 0 .35rem 2rem rgba($black, 0.1);
    max-width: 90%;
    margin: 0 auto;
  }

  &__right {
    margin-left: auto;
  }
}

.cat-filters__left,
.cat-filters__right,
.cat-filter {
  display: flex;
}

.cat-filter {
  padding: 0 1rem;
  height: 3.4357rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & + .cat-filter {
    border-left: 1px solid $white-ter;
  }

  &__select {
    min-width: 5rem;

    @include desktop {
      min-width: 10rem;
    }
  }

  &__label {
    text-transform: uppercase;
    font-size: 10px;
    color: $grey;
    font-weight: $weight-bold;
    line-height: 1;
  }

  .multi-select-dropdown {
    .button {
      background: none;
      padding-left: 1.25em;
      color: $grey-dark;

      &:before {
        content: "";
        display: block;
        width: .35em;
        height: .35em;
        background: transparent;
        position: absolute;
        top: 50%;
        right: calc(100% - .5em);
        transform: translateY(-50%);
        border-radius: $radius-rounded;
      }

      &:hover {
        background: $white-ter;
        border-radius: $radius-small
      }

      &.is-active {
        font-weight: $weight-bold;
        color: $black;

        &:hover {
          cursor: default;
          background: none;
        }

        &:before {
          background: $black;
        }
      }
    }
  }
}
