.app-footer {
  margin: 0 0 3rem;

  @include mobile {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;

    &__container {
      padding: 0 1rem;
      transform: translateY(50%);
    }

    .background {
      background: $white-ter;
    }
  }
}
