label {
  display: block;
  margin-bottom: .1em;
  margin-left: .1em;
  color: $grey;
}

input[type="text"],
input[type="password"] {
  @include control;
  border: 0.0625em solid $grey-lighter;
  border-radius: $radius;
  width: 100%;

  &:focus {
    border-color: $grey;
  }

  &:disabled {
    background: $white;
    color: $grey-light;
    cursor: not-allowed;
  }
}

.field {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--buttons {
    margin-top: 2rem;
  }

  &--persist {
    margin-top: 2rem;
  }
}
