.app-header {
  z-index: 3;
  position: relative;

  @include mobile {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
  }

  .background {
    background: $red;
    background: -webkit-linear-gradient(to left, $blue, $red);
    background: linear-gradient(to left, $blue, $red);
  }
}
