.hero {
  &,
  &__container {
    height: 100%;
  }

  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;

    > div {
      width: 100%;
      max-width: 86%;
      margin: auto auto 4rem;
    }
  }

  h1 {
    font-family: $family-brand;
    font-size: $size-1;
    font-weight: $weight-bold;
    color: $white;
    letter-spacing: -0.0625em;
    text-shadow: 0 0.0625em 0.1em rgba($black, 0.1);
  }

  h2 {
    font-size: $size-6;
    color: $white-ter;
    padding-left: .2em;

    span,
    a {
      opacity: 0.7;
    }

    a {
      color: $white-ter;
      transition: all .1s ease;

      &:hover {
        opacity: 1;
        border-bottom: 1px dotted $white;
      }
    }
  }
}
