figure.image {
  position: relative;

  &:before,
  > div:after {
    content: "";
    display: block
  }

  &:before {
    padding-top: percentage(3 / 4);
  }

  img,
  > div,
  > div:after,
  > div > div {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    height: auto;
    max-width: 100%;
    transform: translate(-50%, -50%)
  }

  > div {
    &, &:after {
      right: 0;
      bottom: 0;
      overflow: hidden;
    }

    > div {
      width: 100%;
      height: 100%;
      transform: translate(50%, 50%);
    }
  }

  & + figure.image {
    margin-top: 2rem;
  }
}
