.modal {
  position: fixed;
  top: 0;
  //right: 0;
  //bottom: 0;
  left: 0;
  background: rgba($black, 0.6);
  z-index: 999;
  width: 100%;
  height: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
  }

  &__wrap {
    //height: 100%;
    max-height: 90vh;
    max-width: 800px;
    position: relative;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: 0 .5rem 3rem rgba($black, 0.5), 0 .1rem .2rem rgba($black, 0.5);
  }

  &__header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: flex-end;

    .button {
      color: $white;
      margin-top: .5rem;
      margin-right: .5rem;
      opacity: .5;
      transition: all .25s cubic-bezier(0.15, 0.15, 0, 1);

      &:hover {
        opacity: 1
      }
    }
  }

  &__content {

  }
}
