.notification {
  display: flex;
  width: 100%;
  background: $white-ter;
  border-left: .3em solid $grey-lighter;
  padding: .25em 1em;
  margin: .5em 0 1em;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  color: $grey-dark;

  &.is-error {
    border-left-color: $red;
  }
}
