.pagination {
  display: flex;
  justify-content: center;
  font-size: 1.4em;

  &__container {
    border-radius: 300em;
    background: $white;
    box-shadow: 0 .25em .6em rgba($black, 0.1);
    padding: 0 .3em;
  }

  .button {
    text-align: center;
    justify-content: center;
    min-width: 2.5em;
    color: $grey-light;
    font-weight: $weight-bold;

    @include mobile {
      font-size: 1.2rem;
    }

    &:hover {
      color: $black;
    }

    &:after {
      content: "";
      width: 70%;
      border-bottom: 2px solid transparent;
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
    }

    &.is-active {
      color: $black;

      &:after {
        border-bottom-color: $primary;
      }
    }

    &.is-prev,
    &.is-next {
      color: $primary;

      .icon {
        font-size: .6em;
      }

      .text {
        color: $grey;
      }
    }

    &.is-prev {
      @include mobile {
        border-right: 1px solid $white-ter;
      }

      @include desktop {
        border-right: 1px solid $white-ter;
        margin-right: .4em;
      }

      .text {
        margin-left: .5em;
      }
    }

    &.is-next {
      @include desktop {
        border-left: 1px solid $white-ter;
        margin-left: .4em;
      }

      .text {
        margin-right: .5em;
      }
    }
  }
}
