<template>
  <div class="checkbox-wrap">
    <span class="checkbox">
      <input
        type="checkbox"
        :id="id"
        :checked="checked"
        :value="value"
        @input="$emit('input', {checked: $event.target.checked, value})"
      >
    </span>
    <label :for="id" v-html="label"></label>
  </div>
</template>

<script>
import {randomIdFromString} from '../../util'

export default {
  name: 'AppCheckbox',
  props: {
    value: {
      required: true
    },
    checked: {
      type: Boolean
    },
    label: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      id: null
    }
  },
  mounted () {
    this.id = randomIdFromString(this.label)
  }
}
</script>
