<template>
  <div>
    <div class="multi-select-dropdown" :class="{open: isOpen}">
      <div class="selected" @click="toggle">
        <span class="text">
          {{label}}
        </span>
        <span class="icon">
          <DownArrowIcon/>
        </span>
      </div>
      <div class="options">
        <div>
          <slot v-bind="this"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import toggleMixin from '../../mixins/toggle-mixin'
import DownArrowIcon from '../icons/DownArrowIcon'

export default {
  name: 'AppDropdown',
  components: {
    DownArrowIcon
  },
  mixins: [
    toggleMixin
  ],
  props: {
    label: {
      type: String,
      default: 'Select'
    }
  }
}
</script>
