<template>
  <div>
    <div class="multi-select-dropdown" :class="{open: isOpen}">
      <div class="selected" @click="toggle">
        <span class="text" :class="{'has-none': filterValueLabel === noneSelectedLabel}">
          {{filterValueLabel}}
        </span>
        <span class="icon">
          <DownArrowIcon/>
        </span>
      </div>
      <div class="options">
        <div>
          <AppCheckbox
            v-for="(option, i) in options"
            class="option"
            :key="i"
            :value="option.value"
            :label="option.label"
            :checked="selectedOptions.indexOf(option.value) !== -1"
            @input="updateSelected"
          />
        </div>
        <p>
          <button class="button is-link is-small" @click.prevent="selectAll">All</button>
          <button class="button is-link is-small" @click.prevent="selectNone">None</button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import toggleMixin from '../../mixins/toggle-mixin'
import AppCheckbox from './AppCheckbox'
import DownArrowIcon from '../icons/DownArrowIcon'

export default {
  name: 'AppMultiSelect',
  components: {
    DownArrowIcon,
    AppCheckbox
  },
  mixins: [
    toggleMixin
  ],
  props: {
    selected: {
      type: Array,
      default: null
    },
    options: {
      type: Array,
      required: true
    },
    noneSelectedLabel: {
      type: String,
      default: 'None selected'
    }
  },
  data () {
    return {
      selectedOptions: []
    }
  },
  computed: {
    hasSelectedOptions () {
      return this.selectedOptions.length > 0
    },
    hasAllSelected () {
      return this.selectedOptions.length === this.options.length
    },
    filterValueLabel () {
      let label = this.hasSelectedOptions && this.hasAllSelected
        ? 'All'
        : this.noneSelectedLabel

      if(this.hasSelectedOptions && label !== 'All') {
        label = this.options
          .filter(o => this.selectedOptions.includes(o.value))
          .map(o => o.label)
          .join(', ')
      }

      return label
    }
  },
  methods: {
    selectAll () {
      this.selectedOptions = this.options.map(o => o.value)
      this.$emit('input', this.selectedOptions)
      this.close()
    },
    selectNone () {
      this.selectedOptions = []
      this.$emit('input', this.selectedOptions)
      this.close()
    },
    updateSelected ({value, checked}) {
      const selected = this.selectedOptions.filter(o => o !== value);

      if(checked) {
        selected.push(value)
      }

      this.selectedOptions = selected
      this.$emit('input', selected)
    }
  },
  mounted () {
    if(this.selected && this.selected.length > 0) {
      this.selectedOptions = this.selected.slice()
    }
  }
}
</script>
