<template>
  <portal to="modal">
    <div ref="toggleRoot" class="modal">
      <div ref="modalContainer" class="modal__container">
        <div class="modal__wrap">
          <div class="modal__header">
            <button class="button is-icon-only is-close" @click.prevent="close">
                <span class="icon">
                  <CloseIcon/>
                </span>
            </button>
          </div>
          <div class="modal__content">
            <slot/>
          </div>
        </div>
      </div>
    </div>
  </portal>
</template>

<script>
import toggleMixin from '../../mixins/toggle-mixin'
import CloseIcon from '../icons/CloseIcon'

export default {
  name: 'AppModal',
  components: {CloseIcon},
  mixins: [
    toggleMixin
  ],
  mounted () {
    setTimeout(() => this.open(), 100)
  }
}
</script>
