$primary: #4a6cb5;
$secondary: #029eb6;

$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: $white-ter;
$dark: $grey-darker;

// General colors

$background: $white-ter;

$border: $grey-lighter;
$border-hover: $grey-light;

// Text colors

$text: $grey-dark;
// $text-invert: findColorInvert($text);
$text-light: $grey;
$text-strong: $grey-darker;

// Link colors

$link: $blue !default
//$link-invert: $blue-invert !default
$link-visited: $purple !default

$link-hover: $grey-darker !default
$link-hover-border: $grey-light !default

$link-focus: $grey-darker !default
$link-focus-border: $blue !default

$link-active: $grey-darker !default
$link-active-border: $grey-dark !default

// Typography

$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
$family-code: $family-monospace;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;
