// Responsiveness

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content
  }
}

@mixin desktop-only {
  @if $widescreen-enabled {
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
      @content
    }
  }
}

@mixin until-desktop {
  @media screen and (max-width: $desktop - 1px) {
    @content
  }
}

@mixin until-widescreen {
  @if $widescreen-enabled {
    @media screen and (max-width: $widescreen - 1px) {
      @content
    }
  }
}

@mixin widescreen {
  @if $widescreen-enabled {
    @media screen and (min-width: $widescreen) {
      @content
    }
  }
}

@mixin widescreen-only {
  @if $widescreen-enabled and $fullhd-enabled {
    @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
      @content
    }
  }
}

@mixin until-fullhd {
  @if $fullhd-enabled {
    @media screen and (max-width: $fullhd - 1px) {
      @content
    }
  }
}

@mixin fullhd {
  @if $fullhd-enabled {
    @media screen and (min-width: $fullhd) {
      @content
    }
  }
}

// Containers
@mixin tablet-container {
  @include tablet-only {
    max-width: $tablet - 1px;
    margin: 0 auto;
  }
}

@mixin is-br {
  height: 0;
  line-height: 0;
  display: block;
}

// Creates a keyframe to use with animations
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin control($include-padding: true, $font-size: $size-normal) {
  $control-border-width: 1px;
  $control-height: 2.25em;

  $control-padding-vertical: 0;
  $control-padding-horizontal: 0;

  @if($include-padding) {
    $control-padding-vertical: calc(0.375em - #{$control-border-width});
    $control-padding-horizontal: calc(0.625em - #{$control-border-width});
  }

  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
  display: inline-flex;
  font-size: $font-size;
  height: $control-height;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  transition: all .1s ease-in-out;

  @if $include-padding {
    padding-bottom: $control-padding-vertical;
    padding-left: $control-padding-horizontal;
    padding-right: $control-padding-horizontal;
    padding-top: $control-padding-vertical;
  }
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
