<template>
  <div id="app" role="document">
    <header class="app-header">
      <div class="background">
        <div class="hero" v-if="!isTouch">
          <div class="hero__container">
            <div>
              <h1>the cat api.</h1>
              <h2><span>courtesy of</span> <a href="http://thecatapi.com" target="_blank">thecatapi.com</a></h2>
            </div>
          </div>
        </div>
      </div>
      <AppFilters/>
    </header>
    <div
      class="app-content"
      :style="{
        paddingTop: isMobile ? headerHeight : null,
        paddingBottom: isMobile ? footerHeight : null
      }"
    >
      <CatListHeader/>
      <CatList/>
    </div>
    <div class="app-footer">
      <div class="app-footer__container">
        <AppPagination/>
      </div>
      <div v-if="isTouch" class="background"></div>
    </div>
    <portal-target name="modal"/>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import responsiveMixin from './mixins/responsive-mixin'
import CatList from './components/cats/CatList'
import AppFilters from './components/AppFilters'
import AppPagination from './components/pagination/AppPagination'
import CatListHeader from './components/cats/CatListHeader'

export default {
  name: 'App',
  components: {
    CatListHeader,
    AppPagination,
    AppFilters,
    CatList
  },
  mixins: [
    responsiveMixin
  ],
  data () {
    return {
      headerHeight: 0,
      footerHeight: 0
    }
  },
  methods: {
    ...mapActions({
      loadStoredLikes: 'cats/loadStoredLikes'
    }),
    resize () {
      const header = this.$el.querySelector('.app-header')
      if(header) {
        this.headerHeight = header.offsetHeight + 'px'
      }

      const footer = this.$el.querySelector('.app-footer')
      if(footer) {
        this.footerHeight = footer.offsetHeight + 'px'
      }
    },
    addWindowEvents () {
      window.addEventListener('resize', () => this.resize())
      setTimeout(() => this.resize(), 10)
    }
  },
  mounted () {
    this.loadStoredLikes()
    this.addWindowEvents()
    this.addResponsiveWindowEvents()
  }
}
</script>
