<template>
  <AppModal class="modal--auth" @close="$emit('close')">
    <div class="auth" :class="`auth--${tab}`">
      <header>
        <h2>
          <template v-if="tab === 'login'">Login</template>
          <template v-else>Sign up</template>
        </h2>
        <AppNotification v-if="hasErrors" error>
          Something went wrong
        </AppNotification>
      </header>
      <form action="" method="post" @submit.prevent="submit">
        <div class="field" v-if="tab !== 'login'">
          <label for="first_name">First Name</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            v-model="form.first_name"
            :disabled="loading"
          >
        </div>
        <div class="field" v-if="tab !== 'login'">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            id="last_name"
            name="first_name"
            v-model="form.last_name"
            :disabled="loading">
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            v-model="form.email"
            :disabled="loading">
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            v-model="form.password"
            :disabled="loading"
          >
        </div>
        <div class="field field--persist" v-if="tab === 'login'">
          <AppCheckbox v-model="form.persist" label="Remember me"/>
        </div>
        <div class="field field--buttons">
          <button
            class="button is-primary is-full-width"
            type="submit"
            :disabled="loading"
          >
            <template v-if="loading">
              <span class="icon icon--spin">
                <SpinningWheelIcon/>
              </span>
            </template>
            <template v-else>
              <template v-if="tab === 'login'">Login</template>
              <template v-else>Sign up</template>
            </template>
          </button>
          <button
            class="button is-link is-full-width"
            @click.prevent="toggleForm"
            :disabled="loading"
          >
            <template v-if="tab === 'login'">Sign up</template>
            <template v-else>Login</template>
          </button>
        </div>
      </form>
    </div>
  </AppModal>
</template>

<script>
import {mapActions} from 'vuex'
import AppModal from '../modal/AppModal'
import AppCheckbox from '../form/AppCheckbox'
import SpinningWheelIcon from '../icons/SpinningWheelIcon'
import AppNotification from '../AppNotification'

export default {
  name: 'AuthPopup',
  components: {
    AppNotification,
    SpinningWheelIcon,
    AppCheckbox,
    AppModal
  },
  data () {
    return {
      tab: 'login',
      loading: false,
      errors: [],
      form: {
        email: null,
        password: null,
        first_name: null,
        last_name: null,
        persist: false
      }
    }
  },
  computed: {
    hasErrors () {
      return this.errors.length > 0
    }
  },
  methods: {
    ...mapActions({
      register: 'auth/register',
      login: 'auth/login'
    }),
    toggleForm () {
      this.tab = this.tab === 'login' ? 'signup' : 'login'
      this.errors = []
    },
    submit () {
      const formSubmissionName = this.tab === 'login'
        ? 'login'
        : 'register'

      this.loading = true

      this[formSubmissionName](this.form).then(() => {
        this.loading = false
        this.$emit('close')
      }).catch(this.submitError)
    },
    submitError (e) {

      this.loading = false
      this.errors.push(e)
    }
  }
}
</script>
