.multi-select-dropdown {
  position: relative;
  width: 100%;
  max-width: 10rem;

  .selected {
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon {
      font-size: .35rem;
      margin-left: auto;
    }

    .text {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.has-none {
        color: $grey-light;
      }
    }
  }

  .options {
    position: absolute;
    top: calc(100% + 1rem);
    left: -.8rem;
    background: $white;
    z-index: 99;
    width: calc(100% + 1.6rem);
    min-width: 10.675rem;
    border-radius: $radius;
    box-shadow: 0 .1rem 1rem rgba($black, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;

    > div {
      padding: 1.5rem 1rem 1rem;
    }

    .option {
      & + .option {
        margin-top: .25rem;
      }
    }

    p {
      margin: 0;
      padding: .75rem 1rem;
      text-align: right;
      line-height: 1;
      border-top: 1px solid $white-ter;

      .button + .button {
        margin-left: 1rem;
      }
    }
  }

  .option {
    .button {
      justify-content: flex-start;
    }

    & + .option {
      margin-top: .5rem;
    }
  }

  &.open {
    .options {
      transform: none;
      opacity: 1;
      visibility: visible;
    }
  }
}
